/* ----------------------------------------------- */
/* ------------------ Basic page layout ---------- */
/* ----------------------------------------------- */
html{
  width: 100%;
  background-color: rgb(119,136,153);  
  font-family: 'Montserrat', sans-serif !important;  
}
body {
  width: 100vw;
  font-family: 'Montserrat', sans-serif !important;
  margin:0;
  background-color: rgb(119,136,153);  
  
}
.cont {
  width: 100%;
  margin-left: 0px !important; 
  margin-right: 0px !important; 
  position: static; 
  color: white;
  background-color: rgb(119,136,153);  
  
}
nav {
background-color:transparent !important;
}
a {
  text-decoration: none !important;
  color: white !important;
}

.footer {
  position: static;
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 25px;
  color: black;
  text-align: right;
}
.foot{
  display: inline-block;
}
.section {
	width: 100%;
	height: 800px;
	text-align: center;
  margin:0;
  background-color: rgb(119,136,153);    
}
.section-content {
  width: 100%;
  margin: 25px 0px 0px 0px;
  height: 650px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  background-color: rgb(175,175,175);
  padding: 100px 0;
  
}
/* ----------------------------------------------- */
/* ------------------ Home Page ------------------ */
/* ----------------------------------------------- */

#home{
  /* height: 830px; */
}
.top-bar {
  width: 100%;
}
.home-title {
  text-align: center;
  width: 100%;
  height: 100px;
  margin: 25px 0px 25px 0px;
  padding: 0 !important;
}
.pic-bar {
  height: 500px;
  margin: 50px 0px 0px 0px;
	display: inline-block;  
  vertical-align: top;
}
.pic-link{
	display: inline-block;
	position: relative;
	width: 15%;
	height: 100%;
	margin:0px 10px;
  text-align: center;
}
.name-bar {
  width: 30%;
  height: 100px;
  padding: 10px;
  margin-top: 100px;
  display: block;
}
.name,
.job {
  font-size: 40px;
}
.pic-link img {
  width: 100%;
  height: 100%;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, .5);
}
.img__description {
  position: absolute;
  line-height: 400px;
  font-size: 2vw;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity .5s;
}
.pic-link:hover .img__description {
  opacity: 1;  
  transition: opacity .5s; 
  color: white;
}
.pic-link:hover img{
  opacity: 0;
  transition: opacity .5s;
}
.fade-in {
  visibility: visible;
  opacity: 1;
  background-color: #BACCE2;
  transition: opacity 1s linear;
}
.fade-out {
  visibility: hidden;
  opacity: 0;
  background-color: #BACCE2;
  transition: visibility 0s 1s, opacity 1s linear;
}
/* ----------------------------------------------- */
/* ------------------ About Page ----------------- */
/* ----------------------------------------------- */

#about {
  padding: 50px 0;
}
.headshot img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid rgb(152,152,152);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, .5); 
}
.brand-statement {
  padding: 30px;
  text-align: left;
  height: 100%;
  border: 3px solid rgb(152,152,152);
}
/* ----------------------------------------------- */
/* ------------------ Projects Page -------------- */
/* ----------------------------------------------- */
#projects {
  padding: 50px 0;
}
.proj-content {
  padding: 50px !important;
}
/* left-side container  */
.viewer-cont {
  height: 100%;
  width: 40%;
  display: inline-block;
  vertical-align: top;
  padding: 30px;
  border: 3px solid white;
}
/* project-snapshot section */
.p {
  width: 100%;
  height: 60%;
  visibility: hidden;
}
.project-image {
  width: 100%;
  height: 100%;
  border: 3px solid white;
}
.project-image img {
  width: 100%;
  height: 100%;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, .5);
  transition: box-shadow 0.3s ease-in-out;
}

/* tech-icon section */
.skills {
  width: 100%;
  height: 30%;
  /* border: 3px solid white; */
  margin: 40px 0px 0px 0px;
}
.skill {
  width: 50px;
  height: 50px;
  display: inline-block;
}
.skill img {
  width: 100%;
  height: 100%;
  /* box-shadow: 5px 10px 15px rgba(0, 0, 0, .5);
  transition: box-shadow 0.3s ease-in-out; */
}

/* right-side container  */
.proj-cont {
  vertical-align: top;  
  height: 550px;
  width: 50%;
  display: inline-block;
  padding-top: 20px;
}
.project {
  height: 240px;
  width: 40%;
  padding: 5px 5px 20px 5px;
  border: 3px solid white;  
  display: inline-block;
  margin: 5px; 
  vertical-align: top;
}
.project:hover{
  box-shadow: 5px 10px 15px rgba(0, 0, 0, .5);
  transition: box-shadow 0.3s ease-in-out;
}
.proj-title {
  margin: 10px 0;
  font-size: 2vw;
}
.proj-desc {
  font-size: 1vw;
}
.proj-links{
  width: 100%;
  margin: 10px 0;  
}
.project img {
  height: 60px;
  width: 60px;
  display: inline-block;
  margin: 0 5px;  
}
.demo {
  height: 60px;
  width: 60px;
  background-color: black;
  color: rgb(152,152,152);
  border-radius: 50%;
  display: inline-block;
  padding-top: 20px;
  vertical-align: top;    
}



/* ----------------------------------------------- */
/* ------------------ Contact Page --------------- */
/* ----------------------------------------------- */

#contact{
  padding: 50px 0;
  
}

/* responsive down heeyaahhh! */