body{
  width: 100vw;
	display: inline-block;
  font-family: 'Montserrat', sans-serif !important;
}
.cont{
  width: 100vw;
  text-align: center;
  margin-left: 0px !important; 
  margin-right: 0px !important; 
  background-color: #BACCE2;
  position: static; 

}
.navbar-nav {
  width: 100vw;
  height: auto;
  text-align: center;
}
a {
	text-decoration: none !important;
}
.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100vw;
    color: #BACCE2;
    text-align: center;
}
.section{
	width: 100vw;
	height: 500px;
	text-align: center;
  background-color:white;
  border:1px solid black;
  margin-bottom: ;
  margin-top:100px;
  padding: 100px;
}

h2 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	border: 5px solid #808182;

}
.top-bar{
	padding-top: 100px;
  width: 100vw; 
	height:550px;
  margin: 0px !important;
  line-height: 0px ;


}
.pic-link{
	display: inline-block;
	position: relative;
	width: 15%;
	height:30%;
	border-radius: 5px;
	background-image: cover;
	margin: 10px;
	background-position:fixed;
	text-align: center;
  padding:10px;
}

.pic-link img {
  width: 100%;

}
.img__description {
  position: absolute;
  line-height: 400px;
  font-size: 24px;
  visibility: hidden;
  opacity: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity .5s;

}

.pic-link:hover .img__description {
  visibility: visible;
}
.pic-link:hover img{
  opacity: 0;
  transition: opacity .5s;
}
.fade-in {
  visibility: visible;
  opacity: 1;
  background-color: #BACCE2;
  transition: opacity 1s linear;
}
.fade-out {
  visibility: hidden;
  opacity: 0;
  background-color: #BACCE2;
  transition: visibility 0s 1s, opacity 1s linear;
}